<!doctype html>
<html>
<head>
  <title>ChassiDex</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/grid2.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type='text/javascript'>
    index = []
    function drop(i){
        a = ['none','grid'];
        document.getElementById('menu').style.display = a[i]
    }
  </script>
</head>
<body>
    <div class="grid" id="menu">
        <div class="close">
            <svg width=25 height=25 onclick="drop(0)">
                <line x1=0 x2=25 y1=0 y2=25 stroke=white stroke-width=4 />
                <line x1=25 x2=0 y1=0 y2=25 stroke=white stroke-width=4 />
            </svg>
        </div>
        <div class="box">
            <a href="/">Home</a><br>
            <a href="/about">About</a><br>
            <a href="/codonopt/1">Codon Optimizer</a><br>
            <a href="/manual">Manual</a><br>
        </div>
    </div>
    <div class="grid" id="header">
        <div class="box">
            <svg width=190 height=20 onclick="drop(1)">
                <rect x=0 y=0 width=30 height=4 fill=white />
                <rect x=0 y=8 width=30 height=4 fill=white />
                <rect x=0 y=16 width=30 height=4 fill=white />
                <text x=40 y=20>ChassiDex</text>
            </svg>
        </div>
    </div>
    <div class="grid title" id="abouttitle">
        <div class="box">
                <h1>Feeling inspired?</h1> <br><br>
                For a detailed guide on how to get started working with a host organism you haven't handled before,
                check out our manual:<br> <a href="http://2017.igem.org/wiki/images/3/3e/T--IIT-Madras--manual.pdf">The iGEM-er’s Guide to the Chassis(es)</a><br>
                <br>
                We provide a detailed explanation of of all things you'd have consider, the difficulties you'd face and how to overcome them.


        </div>
    </div>
</body>
</html>
